img {
    height: auto;
    /* 移动设备中 长按图片会自动保存 阻止长按图片保存 */
    pointer-events: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    position: absolute;
}

div {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body,
html {
    width: 100%;
    background: #b9eeed;
    position: relative;
}

.dn {
    display: none;
}

.centerLevel(@w, @top) {
    position: absolute;
    left: 50%;
    margin-left: -@w/2px;
    top: @top*1px;
}

// 首页
.home {
    position: relative;
    width: 100%;
    height: 3497px;
    top: 0;
    left: 0;
    .index-bg {
        width: 100%;
        top: 0;
        left: 0;
    }

    .index-log {
        .centerLevel(288, 74);
    }

    .index-logo {
        .centerLevel(750, 0);
    }

    .index-ball {
        top: 380px;
        left: 0;
    }

    .index-card {
        top: 390px;
        left: 0;
    }

    .index-sign {
        top: 390px;
        right: 0;
    }

    .index-love {
        top: 1555px;
        left: 0;
    }

    .index-model {
        top: 1110px;
        left: 173px;
    }

    // .index-plumage{
    //     top: 0;
    //     left: 0;
    // }
    .index-star {
        left: 60px;
        top: 530px;
    }

    .index-air {
        .centerLevel(362, 2400);
    }

    .index-house {
        left: 50%;
        margin-left: -584/2px;
        bottom: 0;
    }

    .home-box1,
    .home-box2,
    .home-box3 {
        position: absolute;
        width: 100%;
        height: 100/3%;
    }

    .home-box2 {
        top: 50%;
        transform: translateY(-50%);
    }

    .home-box3 {
        bottom: 0;
    }
}

// P1页
.p1 {
    width: 100%;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    .p1-bg {
        top: -400px;
    }

    .p1-w1,
    .p1-w2,
    .p1-w3,
    .p1-w3 {
        width: 100%;
        height: 1333px;
        position: absolute;
        left: 0;
        top: 0;
    }

    // P1-1页
    .p1-w1 {
        .p1-card {
            top: 0px;
            right: 0;
        }

        .p1-slik {
            top: 0px;
            left: 0;
        }

        .p1-star {
            top: 150px;
            right: 0;
        }

        .p1-return {
            width: 93px;
            height: 78px;
            position: absolute;
            top: 30px;
            right: 30px;

            img {
                width: 100%;
            }
        }

        .p1-explain {
            width: 176px;
            height: 62px;
            .centerLevel(176, 440);

            >img {
                width: 100%;
            }
        }

        .p1-btn {
            width: 298px;
            height: 146px;
            .centerLevel(298, 1140);
            margin-left: -180px;

            >img {
                width: 100%;
            }
        }

        .p1-box {
            width: 439px;
            height: 438px;
            .centerLevel(439, 597);

            .p1-txt {
                width: 245px;
                height: 20px;
                .centerLevel(245, 240);

                input {
                    width: 100%;
                    height: 100%;
                    font-size: 20px;
                    color: #b1e4e3;
                    letter-spacing: 1px;
                }
            }

            .p1-line {
                .centerLevel(248, 277);
            }

            .box-btn {
                width: 244px;
                height: 29px;
                .centerLevel(244, 290);
                display: flex;
                justify-content: space-between;

                >div {
                    width: 74px;
                    height: 29px;
                    text-align: center;
                    line-height: 29px;
                    color: #b1e4e3;
                    font-size: 23px;
                    font-family: 'Adobe 黑体 Std';
                    background: url(../img/p1-btnbg.png);
                }
            }
        }
    }

    //p1弹层
    .p1-layer {
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 50%;
        margin-top: -1433/2px;
        background: rgba(0, 0, 0, .6);
        .close {
            width: 42px;
            height: 42px;
            position: absolute;
            left: 50%;
            margin-left: 400/2px;
            top: 50%;
            margin-top: -640/2px;
        }
    }

    // P1-2页
    .p1-w2 {
        .w2-slik {
            top: 0;
            left: 0;
        }

        .w2-star {
            left: 30px;
            top: 50px;
        }

        .tab {
            width: 501px;
            height: 92px;
            .centerLevel(500, 148);
            display: flex;
            justify-content: space-between;

            li {
                position: relative;
                width: 90px;
                height: 92px;
                background: url(../img/w2-tab.png);

                img {
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }

                img:last-of-type {
                    display: none;
                }

                &.active {
                    img:first-of-type {
                        display: none;
                    }

                    img:last-of-type {
                        display: block;
                    }
                }
            }
        }

        .tab-item {
            width: 501px;
            height: 791px;
            .centerLevel(501, 254);
            background: url(../img/w2-img.png);

            .tab-txt {
                li {
                    position: relative;
                    display: none;
                    img{
                        z-index: 99;
                    }
                }

                .active {
                    display: block;
                }
            }

            .tab-txt li:nth-of-type(1) {
                img {
                    left: 312px;
                    top: 45px;
                }
            }

            .tab-txt li:nth-of-type(2) {
                img {
                    left: 33px;
                    top: 33px;
                }
            }

            .tab-txt li:nth-of-type(3) {
                img {
                    .centerLevel(470, 20);
                }
            }

            .tab-txt li:nth-of-type(4) {
                img {
                    left: 0px;
                    top: 580px;
                }
            }

            .tab-txt li:nth-of-type(5) {
                img {
                    .centerLevel(294, 35);
                }
            }

            .tab-img {
                width: 497px;
                height: 787px;
                .centerLevel(497, 2);
                overflow: hidden;
                img {
                    pointer-events: auto;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 99;
                }
            }

            .w2-camera {
                width: 50px;
                height: 50px;
                position: absolute;
                left: 50%;
                margin-left: -25px;
                bottom: -25px;

                input {
                    position: absolute;
                    width: 50px;
                    height: 50px;
                    opacity: 0;
                }
            }
        }

        .w2-sure {
            width: 298px;
            height: 146px;
            .centerLevel(298, 1140);
            margin-left: -180px;
        }
    }

    // P1-3页
    .p1-w3 {
        .w2-slik {
            top: 0;
            left: 0;
        }

        .w3-star {
            left: 30px;
            top: 50px;
        }

        .w3-share {
            top: 35px;
            right: 34px;
        }

        .tab-item {
            width: 501px;
            height: 791px;
            .centerLevel(501, 254);
            background: url(../img/w2-img.png);
            overflow: hidden;
            img{
                width: 100%;
            }
        }
        .w3-btn {
            width: 600px;
            height: 146px;
            .centerLevel(600, 1140);
            margin-left: -320px;
            display: flex;
            justify-content: space-between;

            div {
                width: 298px;
                height: 146px;
                position: relative;

                img {
                    width: 100%;
                }
            }
        }
    }

    // P1-4页
    .p1-w4 {
        .w4-star {
            top: 60px;
            left: 40px;
        }

        .w4-plumage {
            top: 0;
            left: 0;
        }

        .w4-return {
            width: 93px;
            height: 78px;
            position: absolute;
            top: 30px;
            right: 30px;

            img {
                width: 100%;
            }
        }

        .w4-list {
            width: 594px;
            height: 933px;
            .centerLevel(594, 208);
        }

        .w4-rank,
        .w4-metoo {
            width: 298px;
            height: 146px;
            .centerLevel(298, 72);
            margin-left: -180px;
        }

        .w4-metoo {
            top: 1180px;
        }

    }

    //p4弹层
    .w4-layer {
        width: 100%;
        height: 100%;

        .w4-share {
            .centerLevel(76, 732);
        }

        .close {
            width: 42px;
            height: 42px;
            position: absolute;
            left: 50%;
            margin-left: 376/2px;
            top: 50%;
            margin-top: -140/2px;
        }
    }
}

@media screen and (max-height:1206px) {
    .p1 {
        .p1-w1,
        .p1-w2,
        .p1-w3,
        .p1-w4 {
            width: 100%;
            height: 1333px;
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: -1280/2px;
        }

        .p1-layer {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 50%;
            margin-top: -1433/2px;
            .close {
                width: 42px;
                height: 42px;
                position: absolute;
                left: 50%;
                margin-left: 400/2px;
                top: 50%;
                margin-top: -400/2px;
            }
        }

        .p1-w3 {
            .w3-share {
                top: 50px;
            }
        }

        .p1-w4 {
            transform: scaleY(.95);
        }
    }
}

// P2页